
.main_block {
    padding: 10px;
    border: 5px solid rgb(110, 232, 39);
    height: 500px;
    position: relative;
    border-radius: 10px;
}

.p-all{
    position: absolute;
    width: 10%;
    text-align: center;
    left: 35%;
}

.div1{
    border: 5px red solid;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    position: relative;
}

.div2{
    border: 5px orange solid;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 55%;
    top: 55%;
    align-items: center;
}

.div3{
    border: 5px rgb(8, 8, 112) solid;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 75%;
    top: 50%;
    align-items: center;
}

.div4{
    border: 5px rgb(236, 255, 67) solid;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    position: absolute;
    left: 10%;
    top: 10%;
    align-items: center;
}
.p3{
    top: 40%;
    left: 40%;
    position: absolute;
    width: 10%;
    text-align: center;
}

.div5{
    border: 5px rgb(130, 21, 21) solid;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    position: absolute;
    left: 35%;
    top: 30%;
    align-items: center;
}

.div6{
    border: 5px rgb(183, 70, 104) solid;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 70%;
    top: 10%;
    align-items: center;
}

.p5{
    top: 30%;
    left: 40%;
    position: absolute;
    width: 10%;
    text-align: center;
}