<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/kvadratapp/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main_block">
        <p class="p-main">main block</p>
        <div class="div1">
            <p class="p-all">first block</p>
            <div class="div2">
                <p class="p-all">second block</p>
            </div>
        </div>
        <div class="div3">
            <p  class="p3">third block</p>
            <div class="div4">
                <p class="p-all">fourty block</p>
            </div>
        </div>
        <div class="div5">
            <p  class="p5">fifth block</p>
            <div class="div6">
                <p class="p-all">sixth block</p>
            </div>
        </div>
    </div>
    
</body>
</html>